**/build
/.gradle
/.classpath
**/.idea/

*.class
*.db
*.gz
*.log
*.bin
*.ucls
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.RData
*.Rhistory
**/.project
**/.settings

gradle.properties
